<template>
    <div>
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <slot name="image"></slot>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                          <slot name="title"></slot>
                          <slot name="url"></slot>
                          <slot name="content"></slot>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</template>
<script>
    export default {

    }
</script>