<template>
    <div>
        <div :class="{'is-hidden': isHiddenMainSearch}" class="wrapper fullscreen">
            <div class="columns">
                <div class="column is-12 text-center light">
                    <h1 class="heading">Buscar</h1>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                      <p class="control has-icons-left has-icons-right text-center">
                        <input v-model="search"  @keyup="displayResult" class="input input-search w-100 shadow
                        " type="text">
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <div :class="{'is-hidden': isHiddenSearchResult}" class="wrapper">
            <div class="columns search-header p-10">
                <div class="column is-1 light">
                    <h3 class="sub-heading">Buscar</h3>
                </div>
                <div class="column is-8 light">
                    <div class="field">
                      <p class="control has-icons-left has-icons-right text-center on-search">
                        <input v-model="search"  @keyup="displaySuggestion"  class="input input-search w-100 no-shadow
                        " type="text" @submit="displaySearchResult" @blur="clearSuggestion" autofocus>
                      </p>
                    </div>
                      <ul class="suggestions" :class="{'is-hidden' : isHidden }" v-if="suggestions != ''">
                          <li v-for="suggestion in suggestions" @click="selectSuggestion(suggestion.displayText)">
                              <a @click="selectSuggestion(suggestion.displayText)">
                                  <span>{{suggestion.displayText}}</span>
                              </a>
                        </li>
                      </ul>
                </div>
                <div class="column is-3 button-container p-20">
                    <a :class="{'is-loading is-disabled' : isLoading}" class="button is-default is-medium" @submit="displaySearchResult" @click="displaySearchResult">Search</a>
                </div>
            </div>
        </div>

       <div class="columns">
           <div class="column is-8" v-if="searchResults != ''">
                <item :class="{'is-hidden' : isHiddenResult}" v-for="searchResult in searchResults">
                    <h1 class="title" slot="title"><a :href="searchResult.url" target="_blank">{{searchResult.name}}</a></h1>
                    <p class="url" slot="url">{{searchResult.displayUrl}}</p>
                    <p class="snippet" slot="content">{{searchResult.snippet}}</p>
                    <div v-if="searchResult.deepLinks">
                      <h1>asd</h1>
                    </div>
                </item>
                <div class="column ml-80">
                    <a :class="{'is-disabled' : isPrevDisabled, 'is-loading' : isPrevLoading}" class="button is-default is-medium" @submit="displayPreviousPage" @click="displayPreviousPage">Previous</a>
                    <a :class="{'is-disabled' : isNextDisabled, 'is-loading' : isNextLoading}" class="button is-default is-medium" @submit="displayNextPage" @click="displayNextPage">Next</a>
                </div>
                <div class="columns box related ml-70" v-if="relatedSearches !=''" >
                    <div class="column">
                      <h1 class="sub-title">Related Searches for <strong>{{search}}</strong></h1>
                      <p v-for="related in relatedSearches">
                        <a @click="searchRelated(related.displayText)"></a>
                      </p>
                    </div>
                </div>
           </div>
           <div class="column is-4">
                <div v-if="relatedImages !=''">
                  <h1 vclass="sub-title">Related Images for <strong>{{search}}</strong></h1>
                </div>
                <div class="section-image" v-if="relatedImages !=''">
                  <figure class="image is-128x128" v-for="image in relatedImages">
                      <a :href="image.webSearchUrl" target="_blank">
                         <img :src="image.thumbnailUrl" :alt="image.name">
                      </a>
                  </figure>
                </div>
                <div class="section-news"></div>
           </div>
       </div>

    </div>
</template>
<script>
import Item from './Item.vue';
export default{
  components : {
    'item' : Item,
  },

  data() {
    return {
      search : '',
      isHiddenMainSearch: false,
      isHiddenSearchResult: true,
      isHiddenResult: true,
      suggestions: '',
      isHidden : true,
      relatedSearches : '',
      searchResults : '',
      isLoading: false,
      relatedImages: '',
      page:0,
      isNextLoading: false,
      isPrevDisabled: false,
      isPrevLoading: false,
      isNextDisabled: false,
    };
  },

  methods : {
    selectSuggestion(text) {
      this.search = text;
      this.suggestions = '';
      this.isHidden = true;
    },
    displayResult() {
      this.isHiddenResult = false;
      this.isHiddenMainSearch = true;
      this.isHiddenSearchResult = false;
    },

    displaySuggestion() {
      var self = this;
      this.suggsestions ='';
      if (this.search) {
        axios.get(`/api/bing/suggestion?search=${this.search}`)
          .then((response) => {
            self.isHidden = false;
            self.suggestions = response.data;
          })
          .catch((error) => {

          });
      } else {
        self.suggestions = '';
      }
    },
    clearSuggestion() {
      this.isHidden = true;
    },
    displaySearchResult() {
      var self = this;
      this.isLoading = true;
      if (this.search) {
        axios.get(`/api/bing/search?search=${this.search}&page=${this.page}`)
          .then((response) => {
            self.searchResults = response.data.webPages.value;
            if (response.data.images.value) {
              self.relatedImages = response.data.images.value;
              self.relatedImages = self.relatedImages.slice(0).slice(10)
            }
            if (response.data.relatedSearches.value) {
              self.relatedSearches = response.data.relatedSearches.value;
            }

            self.isNextLoading = false;
            self.isPrevDisabled = false;
            self.isPrevLoading = false;
            self.isNextDisabled = false;
            self.isLoading = false;
          })
          .catch((error) => {
            this.isLoading = false;
            self.isNextLoading = false;
            self.isPrevDisabled = false;
            self.isPrevLoading = false;
            self.isNextDisabled = false;
          });
      } else {
        self.suggestions = '';
        self.isLoading = false;
        self.isNextLoading = false;
        self.isPrevDisabled = false;
        self.isPrevLoading = false;
        self.isNextDisabled = false;
      }
    },

    displayNextPage() {
      this.page = this.page + 10;
      this.displaySearchResult();
      this.isPrevDisabled = true;
      this.isPrevLoading = false;
      this.isNextLoading = true;
    },
    displayPreviousPage() {
      this.page = this.page - 10;
      if (this.page < 10) {
        this.page = 0;
      }
      this.isNextDisabled = true;
      this.isNextLoading = false;
      this.isPrevLoading = true;
      this.displaySearchResult();
    },
    searchRelated(text) {
      this.search = text;
      this.searchResult = '';
      this.relatedSearches = '';
      this.displaySearchResult();
    },

  },
}
</script>