@mixin gradient-text($gradient, $bg : 'light') {
  @supports(mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;

      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: #fff;
      background: #000;
      mix-blend-mode: lighten;

      &::before {
        mix-blend-mode: multiply;
      }
    }
  }
}

.light {
  .heading, .sub-heading {
    @include gradient-text('linear-gradient(to right,#415657, #0e9b95, #03d8d4, #c4e7e0, #f4f7e6)', 'light');
  }
}

.fullscreen {
    padding: 100px;
    margin:100px;
}

.text-center {
    text-align: center
}

.w-80{
    width: 80%;
}

.w-100{
    width: 100%;
}

.p-10{
    padding:10px
}

.p-20 {
    padding:20px;
}

.heading {
    font-size: 100px;
}

.sub-heading {
    font-size: 35px;
}

.input-search {

    height: 40px;
    line-height: 30px;
    border-radius:0px;
    border: 1px solid #e1e1e1;
}

.shadow {
    -webkit-box-shadow:: 0px 2px 2px 0px #d1d1d1;
    -moz-box-shadow: 0px 2px 2px 0px #d1d1d1;
    box-shadow: 0px 2px 2px 0px #d1d1d1;
}

.no-shadow {
    -webkit-box-shadow:: 0px 0px 0px 0px #d1d1d1;
    -moz-box-shadow: 0px 0px 0px 0px #d1d1d1;
    box-shadow: 0px 0px 0px 0px #d1d1d1;
}


.search-header {
    .on-search {
        padding: 10px;
        width: 850px;
    }
}
ul.suggestions {
    background: #ffffff;
    width: 500px;
    list-style-type: none;
    border: 1px solid #eeeeee;
    position: absolute;
    top: 59px;
    left: 129px;
    li {
        padding:5px 10px;
        &:hover, &:focus, &:active {
            background: #f0f8ff;
            cursor: pointer;
        }
    }
}

.content {
  .title a {
    color: #1e8783;
    margin : 0px;
  }

  .title a:hover {
    color: #0ab4af;
    text-decoration: underline;
  }

  .url {
    color: #4bded9;
    margin:0px;
  }
  .snippet {
    color: #939696;
    width: 500px;
  }
}

.content p:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content table:not(:last-child) {
  margin : 0px;
}

.title:not(:last-child), .subtitle:not(:last-child) {
  margin: 0px;
}

.box {
    box-shadow: 0 0px 0px rgba(10, 10, 10, 0.1), 0 0 0 0px rgba(10, 10, 10, 0.1);
}

.sub-title {
  font-size: 20px;
}

.ml-70 {
  margin-left: 70px;
}

.tabs {
  margin-left: 60px;
  margin-right: 170px;
}

figure {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.section-image {
    display:flex;
    flex-wrap: wrap;
}

.ml-80 {
  margin-left:80px;
}